.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem; }

.navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

@media (max-width: 992px) {
    .navbar-expand-lg > .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        align-content: end;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-lg > .container {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-std {
    background: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: 992px) {
    .navbar-std {
        background: #000 !important;
        position: relative;
        top: 0;
    }
}

.navbar-std .navbar-brand {
    color: #fff;
    font-family: "Josefin Sans", Arial, sans-serif;
}

@media (min-width: 768px) {
    .navbar-std .navbar-brand {
        color: #fff;
    }
}

.navbar-std .navbar-nav > .nav-item > .nav-link {
    font-size: 13px;
    padding: .9rem 0;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1 !important;
}

@media (min-width: 768px) {
    .navbar-std .navbar-nav > .nav-item > .nav-link {
        padding: 1.5rem 20px;
        color: rgba(255, 255, 255, 0.9);
    }
}

.navbar-std .navbar-nav > .nav-item > .nav-link:hover, .navbar-std .navbar-nav > .nav-item > .nav-link:focus {
    color: #c49b63;
}

.navbar-std .navbar-nav > .nav-item > .nav-link:hover:after, .navbar-std .navbar-nav > .nav-item > .nav-link:focus:after {
    opacity: 1;
}

.navbar-std .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background: #000;
    border-radius: 0;
    -webkit-box-shadow: 0 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0 10px 34px -20px rgba(0, 0, 0, 0.41);
}

.navbar-std .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    background: #0d0d0d;
}

.navbar-std .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover,
.navbar-std .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
    color: #fff;
}

.navbar-std .navbar-nav > .nav-item.cart > a {
    position: relative;
}

.navbar-std .navbar-nav > .nav-item.cart > a .icon {
    font-size: 20px;
    color: #fff;
}

.navbar-std .navbar-nav > .nav-item.cart > a .bag {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 24px;
    height: 24px;
    text-align: center;
    background: #f8b500;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.navbar-std .navbar-nav > .nav-item.cart > a .bag small {
    font-weight: 400;
    color: #000;
}

.navbar-std .navbar-nav > .nav-item.active > a {
    color: #c49b63;
}

.navbar-std .navbar-nav > .nav-item.active > a:after {
    opacity: 1;
    background: #c49b63;
}

.navbar-std .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.8) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.navbar-std .navbar-toggler:hover, .ftco-navbar-light .navbar-toggler:focus {
    outline: none !important;
}

.navbar-std.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #151111 !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: none;
}

.navbar-std.scrolled .nav-item > .nav-link {
    color: #fff !important;
}

.navbar-std.scrolled .nav-item.active > a {
    color: #c49b63 !important;
}

@media (max-width: 992px) {
    .navbar-std.scrolled .navbar-nav {
        background: none;
        border-radius: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 768px) {
    .navbar-std.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.navbar-std.scrolled .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.8) !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.navbar-std.scrolled .nav-link {
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
    color: #000 !important;
}

.navbar-std.scrolled .nav-link.active {
    color: #c49b63 !important;
}

.navbar-std.scrolled.awake {
    margin-top: 0;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.navbar-std.scrolled.sleep {
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.navbar-std.scrolled .navbar-brand {
    color: #fff;
}

.navbar-brand {
    font-size: 22px;
    line-height: 1;
    display: block;
}

.navbar-brand small {
    font-size: 12px;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}
